body { 
  background: linear-gradient(to top right, #ee9, lightblue);
  box-shadow: inset 0px 0px 100px 1px black;
  font-family: "open sans", sans-serif;
  min-height: 100vh;
  margin: 0px;
  padding-bottom: 5vh;
}
.heading {
  color: white;
  font-family: raleway, sans-serif;
  padding: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}
.container {
  background: linear-gradient(to left, #c94b4b, #4b134f); 
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px #555;
  color: white;
  font-size: 20px;
  margin: auto;
  min-height: 700px;
  position: relative;
  text-align: center;
  width: 98%;
  max-width: 400px;
}
.top {
  height: 95%;
  width: 100%;
}
.top-bar {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 0;
}
.form-field {
  border-radius: 3px;
  border: 1px solid #eee9de;
  padding: 2px 4px;
  transition: all 0.2s ease;
  width: 50%;
}
.form-button {
  border: 1px solid white;
  border-radius: 3px;
  background: none;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 2px 4px;
  transition: all 0.2s ease;
}
.form-field:hover {
  background: #eee;
}
.form-button:hover {
  box-shadow: 0px 0px 4px 1px silver;
}
.geo-button {
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  padding: 4px 8px;
  transform: all 0.2 ease;
}
.geo-button i {
  margin: auto;
  margin-bottom: -1px;
}
.icon-box {
  height: 100px;
  margin-top: 2vh;
}
img {
  display: inline;
  margin: 0;
  padding: 0;
}
#loading {
  position: absolute;
}
.loading0 {
  border-bottom: 2px solid white;
  transition: none;
  width: 0%;
}
.loading25 {
  border-bottom: 2px solid white;
  transition: width 0.5s ease;
  width: 25%;
}
.loading50 {
  border-bottom: 2px solid white;
  transition: width 0.5s ease;
  width: 50%;
}
.loading75 {
  border-bottom: 2px solid white;
  transition: width 0.5s ease;
  width: 75%;
}
.loading100 {
  border-bottom: 2px solid white;
  transition: width 0.5s ease;
  width: 100%;
}
#icon {
  width: 100px;
  opacity: 0;
}
#icon.show {
  opacity: 1;
  transition: opacity 1s ease;
}
#city {
  font-family: raleway;
  font-size: 22px;
  font-weight: 800;
  min-height: 30px;
  opacity: 0;
}
#city.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.circle {
  border: 3px solid white;
  border-radius: 50%;
  height: 130px;
  margin: 30px auto;
  width: 130px;
}
#temp {
  font-size: 200%;
  margin-top: 26%;
  opacity: 0;
}
#temp.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.weather-desc-box {}
#weatherDesc {
  display: inline-flex;
  min-height: 30px;
  margin-bottom: 1vh;
  opacity: 0;
}
#weatherDesc.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.info-container {
  padding-bottom: 30px;
  padding-left: 30px;
}
.info-box {
  display: inline-block;
  text-align: left;
  width: 40%;
}
.info-content {
  margin: 0 auto;
  opacity: 0;
}
.info-content.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.info-content i {
  margin-right: 10px;
}
.wi {
  margin: 2px 4px;
}

.forecast-container {
  display: inline-flex;
  font-size: 15px;
  margin-bottom: 30px;
  opacity: 0;
}
.forecast-container.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.forecast-box {
  color: yellow;
  margin: 10px 10px;
  width: 50px;
  opacity: 0;
}
.forecast-box.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.forecast-temp.yellow {
  color: #f6ff18;
}
.forecast-temp {
  color: rgba(150, 180, 255);
}
.forecast-box-day {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  margin: 3px;
  padding: 2px;
}
.bottom {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media (max-width: 676px) {
  .heading {
    display: none;
  }
  .container {
    font-size: 17px;
    margin: 0 auto;
    min-height: auto;
  }
  #city {
    font-size: 19px;
  }
  .forecast-container {
    font-size: 13px;
  }
  .forecast-box {
    color: yellow;
    margin: 10px 10px;
    width: 20%;
  }
}